<img class="imagennavbar" src="../../../assets/img/paginafondo.png">

<div class="box">
  <div class="navbard">
    <h3>Portfolio Web</h3>
    <p>Juan Pablo Peiffer</p>
  </div>
</div>
<div class="paglog">
  <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Abrir Login</button>
  <a  href="portfolio" class="btn btn-secondary">Ver sin loguearse</a>
</div>









<!-- <div *ngIf="isloged()">
  <a (click)="handleClear()" (click)="autenticacionService.logoutUser()" class="nav-link active" class="btn tooltips">
    <i class="fa-solid fa-arrow-right-from-bracket"></i> 
  </a>
</div> -->


  <!-- Login modal-->
  <div class="modal fade bd-example-modal-lg" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="border-radius: 20px">
        <div class="modal-header">
          <h5 class="modal-title">Login</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" class="m-4" (ngSubmit)="onEnviar($event)">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email</label
              >
              <input
                formControlName="email"
                [ngClass]="{
                  'is-invalid': Email?.errors && Email?.touched,
                  'is-valid': !Email?.errors && Email?.touched
                }"
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="email"
                autocomplete="on"
                required
              />
              <div *ngIf="Email?.errors && Email?.touched">
                <p *ngIf="Email?.hasError('required')" class="text-danger">
                  El email es requerido
                </p>
                <p *ngIf="Email?.hasError('email')" class="text-danger">
                  El formato del email debe ser valido
                </p>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Contraseña</label
              >
              <input
                [ngClass]="{
                  'is-invalid': Password?.errors && Password?.touched,
                  'is-valid': !Password?.errors && Password?.touched
                }"
                formControlName="password"
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="password"
                autocomplete="off"
                required
              />
              <div *ngIf="Password?.errors && Password?.touched">
                <p
                  *ngIf="Password?.hasError('required')"
                  style="color: black"
                  class="text-danger"
                >
                  Contraseña requerida!
                </p>
              </div>
            </div>
            <button
              id="btnCerrar"
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
            >
              Enviar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  